<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="root.home">A.S.T.R.E</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
	<li><a ui-sref="root.members">Liste des membres</a></li>
	<li><a ui-sref="root.contact">Nous contacter</a></li>
	<li><a ui-sref="root.links">Liens utiles</a></li>
	<li><a ui-sref="root.links">A venir</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
	<li ng-show="!astrectrl.user.isAuthenticated()">
	  <a data-toggle="modal" data-target="#myModal">
	    <span class="glyphicon glyphicon-log-in"> S'identifier</span> 
	  </a>
	</li>
	
	<li ng-show="astrectrl.user.isAuthenticated()" >
	  <a ui-sref="root.logout" ng-click="astrectrl.auth.logout()">
	    <span class="glyphicon glyphicon-log-out"> Quitter</span> 
	  </a>
	</li>

	<li ng-show="!astrectrl.user.isAuthenticated()" >
	  <a ui-sref="root.report" ng-click="">
	    <span class="glyphicon"> Compte-rendus</span> 
	  </a>
	</li>
	
      </ul>

    </div>
  </div>
</nav>
