<div class="jumbotron">
  <div class="container">
    <h2>Membres de l'ASTRE</h2>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Bureau de l'ASTRE</h3>
  </div>
  <div class="panel-body">
    <table class="table table-condensed">
      <tr>
	<th>Nom</th>
	<th>Fonction</th>
      </tr>
      <tr>
	<td>Catherine LEBOULLENGER</td>
	<td>Presidente</td>
      </tr>
      <tr>
	<td>Michel FEBVRE</td>
	<td>Vice-président</td>
      </tr>
      <tr>
	<td>Joëlle GUILBAUD</td>
	<td>Secrétaire</td>
      </tr>
      <tr>
	<td>Françoise AUVILLE</td>
	<td>Secrétaire adjointe</td>
      </tr>
      <tr>
	<td>Maria GAULARD</td>
	<td>Trésorière</td>
      </tr>
    </table>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Autres membres</h3>
  </div>
  <div class="panel-body">
    <table class="table table-condensed">
      <tr>
	<th>Nom</th>
      </tr>
      <tr>
	<td>Anne-Charlotte LEROUX</td>
      </tr>
      <tr>
	<td>Michèle FAUCHERY</td>
      </tr>
      <tr>
	<td>Corinne PLISSON</td>
      </tr>
      <tr>
	<td>Eugénie ADORIAN</td>
      </tr>
      <tr>
	<td>Claude FEBVRE </td>
      </tr>
    </table>
  </div>
</div>
