<div class="jumbotron">
  <div class="container">
    <h2>Charte éthique</h2>
  </div>
</div>

<div class="lead">

  <div class="">

      Ce que nous venons chercher et voulons porter et développer dans l’association .A.S.T.R.E.:
      <ul class="ulclass">
	<li>
	  un sentiment d’appartenance qui se fonde sur la particularité de la formation de Bobigny ouverte à une dimension élargie du champ de la sexologie,  qui se nourrit de la convivialité entretenue entre les différents membres, qui s’épanouit dans l’accueil de tous ceux qui souhaitent partager ces valeurs et cette richesse 
	</li>
	<li>
	  un soutien dans notre activité professionnelle et notre positionnement de sexologues et/ou sexothérapeutes, en promouvant la réflexion autour de cas cliniques, le développement et l’entretien d’un savoir-être autant que d’un savoir-faire : c’est la raison d’être de la supervision
	</li>
	<li>
	  la transmission de notre expérience professionnelle à l’intérieur et en dehors de l’association, en particulier par sa collaboration à l’enseignement du DIU de sexologie
	</li>
	<li>
	  une dynamique de créativité par l’encouragement et le partage de nos projets personnels, et par l’élaboration de projets communs (écrits, conférences, etc.)
	</li>
	<li>
	  une dimension culturelle, littéraire, philosophique et artistique qui met en lien la sexologie avec la vie dans ce qu’elle a de plus riche ; c’est l’héritage de Bobigny, et c’est la spécificité  jusqu’à présent cultivée  entre nous et que nous voulons maintenir
	</li>
	<li>
	  le respect des adhérents et des règles : cela va de soi, mais cela va mieux en le disant et encore mieux en l’écrivant, et cela ouvre sur le type de fonctionnement que nous souhaitons pour notre association, un fonctionnement collégial
	</li>
      </ul>

  </div>
  
</div>
