<div class="jumbotron">
  <div class="container">
    <h2>Nous contacter</h2>
  </div>
</div>


<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Objet</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Objet de votre demande">
  </div>

  <div class="form-group">
    <textarea rows="4" class="form-control" placeholder="Ecrivez votre message">
    </textarea>
  </div>

  <button type="submit" class="btn btn-default">Envoyer</button>
</form>
