<div class="jumbotron">
  <div class="container">
    <h2>Les statuts de l'ASTRE <br/>
      <small>Association Sexologique de Travail, de Réflexion, et d’Enseignement</small></h2>
  </div>
  <div class="container">
  </div>
</div>

<div class="container pagination-centered">

  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE PREMIER - NOM
    </div>
    <div class="panel-footer">
      <ul><li>
	  Il est fondé entre les adhérents aux présents statuts une association régie par la loi du 1er juillet 1901 et le décret du 16 août 1901, ayant pour titre : .A.S.T.R.E.
      </li></ul>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE 2 - OBJET
    </div>
    <div class="panel-footer">
      <ul><li>
	  Cette association a pour objet la recherche, l’étude et la réflexion transdisciplinaires, et la transmission des savoirs dans le champ des sexualités humaines et dans une approche globale de la santé sexuelle.
      </li></ul>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE 3 - SIÈGE SOCIAL
    </div>
    <div class="panel-footer">
      <ul><li>
	  Le siège social est fixé à COURBEVOIE -92400 – 21, rue Sainte Geneviève 
	  Il pourra être transféré par simple décision du Conseil d'Administration, soumise à la ratification de la prochaine Assemblée Générale.
      </li></ul>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE 4 - COMPOSITION
    </div>
    <div class="panel-footer">
      L'association se compose de:
      <ul>
	<li>Membres actifs ou adhérents, personnes physiques prenant une part significative au fonctionnement de l’association. La qualité de membre actif confère un droit de vote et d’éligibilité lors de l’Assemblée Générale.</li>
	<li>Membres associés, personnes physiques souhaitant bénéficier des services de l’association et dont la candidature en tant que membre actif n’a pas encore été agréée par le Conseil d’Administration. Les membres associés peuvent assister à l’Assemblée Générale et émettre un avis consultatif sur les questions portées à l’ordre du jour, mais n’ont ni droit de vote ni capacité d’éligibilité. </li>
	<li>Membres bienfaiteurs, personnes physiques ou morales souhaitant soutenir l’association, sans droit de vote ni capacité d’éligibilité.</li>
	<li>Membres d'honneur, titre décerné par le Conseil d’Administration à un nombre restreint de personnes physiques en raison de leurs compétences ou des services rendus dans le champ de la sexualité humaine et de la santé sexuelle. </li>
      </ul>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE 5 - ADMISSION
    </div>
    <div class="panel-footer">
      Pour faire partie de l’association, il faut :
      <ul>
	<li>Adhérer aux présents statuts ;
	<li>Etre titulaire du diplôme universitaire d’études biologiques, psychologiques et sociales de la sexualité humaine ou du diplôme interuniversitaire de sexologie délivré au terme du cursus par les facultés habilitées
	  ou être professionnel œuvrant dans le champ de la sexualité humaine et de la santé sexuelle</li>
	<li>Etre agréé par le Conseil d’Administration de l’association qui statue, lors de chacune de ses réunions, sur les demandes d'admission présentées</li>
	<li>Payer la cotisation prévue</li>
      </ul>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE 6 - MEMBRES – COTISATIONS
    </div>
    <div class="panel-footer">
      <ul>
	<li>Les membres actifs  et les membres associés prennent l'engagement de verser annuellement à titre de cotisation une somme fixée chaque année par l’Assemblée Générale</li>
	<li>Les membres bienfaiteurs versent un droit d'entrée et une cotisation annuelle fixés chaque année par l'Assemblée Générale </li>
	<li>Les membres d'honneur sont dispensés de cotisations</li>
      </ul>
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE 7. - RADIATIONS 
    </div>
    <div class="panel-footer">
      La qualité de membre se perd par :
      <ul>
	<li>La démission;</li>
	<li>Le décès;</li>
	<li>La radiation prononcée par le Conseil d'Administration pour non-paiement de la cotisation ou pour motif grave, l'intéressé ayant été invité à fournir des explications devant le Conseil d’Administration ou par écrit. </li>
      </ul>
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE 8. - AFFILIATION
    </div>
    <div class="panel-footer">
      <ul><li>
	  Elle peut par ailleurs adhérer à d’autres associations, unions ou regroupements par décision du Conseil d’Administration, validée par l’Assemblée Générale.
      </li></ul>
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE 9. – RESSOURCES 
    </div>
    <div class="panel-footer">
      Les ressources de l'association comprennent :
      <ul>
	<li>Le montant des cotisations et des droits d'entrée;</li>
	<li>Les subventions de l’UE, de l'Etat, des départements et des communes</li>
	<li>Les dons manuels et toutes les ressources autorisées par les lois et règlements en vigueur.</li>
      </ul>
      Une comptabilité de toutes les opérations est tenue par exercices annuels. 

    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE 10. – ORGANES DE DECISION
    </div>
    <div class="panel-footer">
      <ul><li>
	  Le fonctionnement de l’association est défini par l’Assemblée Générale et mis en œuvre par le Conseil d’Administration.
      </li></ul>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE 11 - ASSEMBLEE GENERALE 
    </div>
    <div class="panel-footer">
      <ul>
	<li>L'Assemblée Générale est composée de l’ensemble des adhérents à jour de leur cotisation.</li>
	<li>Elle est souveraine, détermine les orientations et décide de toute question non déléguée au Conseil d’Administration.</li>
	<li>L’Assemblée Générale est convoquée par le Conseil d’Administration par courrier postal ou électronique adressé quinze jours au moins avant la date fixée et mentionnant l’ordre du jour.</li>
	<li>L’Assemblée Générale est présidée par le Président du Conseil d’Administration, à défaut par un Vice-Président ou un autre membre du Bureau désigné par ce dernier.</li>
      </ul>
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE 12 - ASSEMBLEE GENERALE ORDINAIRE
    </div>
    <div class="panel-footer">
      <ul>
	<li>
	  Chaque année, l’Assemblée Générale est réunie en Assemblée Générale Ordinaire.</li>
	<li>Le Président, assisté des membres du Conseil, préside l'Assemblée, présente le rapport d’activité et rend compte des orientations pour la période à venir. </li>
	<li>Le trésorier rend compte de sa gestion et soumet les comptes annuels (bilan, compte de résultat et annexe) à l'approbation de l'assemblée. </li>
	<li>L’Assemblée Générale fixe le montant des cotisations annuelles et du droit d’entrée à verser par les différentes catégories de membres.</li>
	<li>Ne peuvent être abordés que les points inscrits à l'ordre du jour. </li>
      </ul>
      <ul>
	<li>Les décisions sont prises à la majorité des voix des membres présents ou représentés.
      Si besoin, il est procédé, après épuisement de l'ordre du jour, au renouvellement des membres sortants du conseil.</li>
	<li>
	  L’Assemblée Générale Ordinaire peut valablement délibérer lorsque plus de la moitié des adhérents est présente ou représentée par un autre adhérent muni d’un pouvoir écrit.
	  A défaut de quorum, l’Assemblée Générale est à nouveau convoquée dans les quarante-cinq jours et peut alors délibérer quel que soit le nombre d’adhérents présents ou représentés.
	  Les décisions des Assemblées Générales s’imposent à tous les membres, y compris absents ou représentés.
	</li>
      </ul>
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE 13 - ASSEMBLEE GENERALE EXTRAORDINAIRE 
    </div>
    <div class="panel-footer">
      <ul>
	<li>L’Assemblée Générale peut être réunie en Assemblée Générale Extraordinaire par décision du Conseil d’Administration pour délibérer sur un ordre du jour particulier.</li>
	<li>Une Assemblée Générale extraordinaire doit obligatoirement être convoquée pour les cas évoqués dans les statuts aux articles 17 et 18, et lorsque au moins un quart des adhérents le demande. </li>
	<li>Les modalités de convocation sont les mêmes que pour l’Assemblée Générale Ordinaire.</li>
	<li>Les délibérations sont prises aux deux tiers des membres présents ou représentés.</li>
      </ul>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE 14 - CONSEIL D'ADMINISTRATION 
    </div>
    <div class="panel-footer">
      <ul>
	<li>
	Le fonctionnement courant de l’association est assuré par le Conseil d’Administration, dans le respect des statuts et des orientations de l’Assemblée Générale.
	Il compte un minimum de cinq membres, élus pour trois ans par l’Assemblée Générale et rééligibles.
	Il se réunit de manière physique ou virtuelle au moins trois fois dans l’année, sur convocation du Président, ou sur la demande du tiers de ses membres.
	Les décisions sont prises à la majorité simple des membres présents; en cas de partage des voix, celle du Président est prépondérante. 
	En cas de vacance ou de nécessité, le Conseil d’Administration pourvoit provisoirement au remplacement de ses membres. Il est procédé à leur remplacement définitif par la prochaine Assemblée Générale. Les pouvoirs des membres ainsi élus prennent fin à l'expiration du mandat des membres remplacés. 
	Tout membre du Conseil d’Administration qui sans excuse n'aura pas assisté à trois réunions consécutives, sera considéré comme démissionnaire.
	</li>
      </ul>
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE 15 – LE BUREAU 
    </div>
    <div class="panel-footer">

      <ul>
	<li>
	  Le Conseil d'Administration élit parmi ses membres, à bulletin secret si un des membres le demande, un Bureau composé de :
	  <ul>
	    <li>1) Un-e- Président-e</li>
	    <li>2) Un-e- Secrétaire </li>
	    <li>3) Un-e- Trésorier-e</li>
	  </ul>
	  et s’il y a lieu, un-e- ou plusieurs Vice-président-e-s, un-e- Secrétaire adjoint-e, et un-e- Trésorier-e- adjoint-e.
	</li>

	<li>
	  Les fonctions de Président et de Trésorier ne sont pas cumulables.
	</li>

	<li>
	  Le Président représente l’Association dans tous les actes de la vie civile et est investi de tous pouvoirs à cet effet.
	  Il préside les Assemblées, et a notamment qualité pour ester en justice avec autorisation du Conseil d’Administration.
	  En cas d’indisponibilité, le Président est remplacé par un Vice-président.
	</li>
	<li>
	  Le secrétaire est chargé de la correspondance, des formalités administratives, de la rédaction des comptes rendus, et de la tenue des archives.
	</li>
	<li>
	  Le Trésorier est responsable de la gestion financière et comptable. Il organise le recouvrement des cotisations et autres ressources,procède aux paiements autorisés par le conseil d’Administration qu’il tient régulièrement informé, et rend compte à l’Assemblée Générale.
	</li>
	  A la majorité des deux tiers le Conseil d’Administration peut mettre fin à l’une ou l’autre des fonctions précitées.
      </ul>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE - 16 - REGLEMENT INTERIEUR
    </div>
    <div class="panel-footer">
      <ul>
	<li>Un règlement intérieur peut être établi par le Conseil d'Administration, qui le fait alors approuver par la plus prochaine Assemblée Générale.</li>
	<li>Ce règlement éventuel est destiné à fixer les divers points non prévus par les présents statuts, notamment ceux qui ont trait à l'administration interne de l'association. </li>
      </ul>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE - 17 – MODIFICATION DES STATUTS
    </div>
    <div class="panel-footer">
      <ul>
	<li>Les statuts ne peuvent être modifiés que par une Assemblée Générale Extraordinaire statuant à la majorité des deux tiers présents ou représentés.</li>
      </ul>
    </div>
  </div>



  <div class="panel panel-primary">
    <div class="panel-body">
      ARTICLE - 18 – DISSOLUTION
    </div>
    <div class="panel-footer">
      <ul>
	<li>L’association est créée pour une durée indéterminée.</li>
	<li>L’Assemblée Générale appelée à sa dissolution devra être convoquée spécialement à cet effet, la dissolution ne pouvant être décidée qu’à la majorité des deux tiers des membres présents ou représentés.</li>
	<li>L’Assemblée Générale qui prononce la dissolution en fixe les modalités, l’actif ne pouvant jamais être réparti entre les adhérents.</li>
      </ul>
    </div>
  </div>

  Maria GAULARD                               Joelle GUILBAUD
  Trésorière                                             Secrétaire

</div>
