/* app css stylesheet */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


body {
    background-color: #CEECF5;
    
}

.jumbotron{
    background-color: #A4F3F3;

}

.ulclass{
    padding: 15px;        
}

.ulclass li{
    padding: 10px;
}

.panel-body{
    background-color: #CEECF5;
}
.panel-footer{
    background-color: #CEECF5;
}