<div class="container">

  <div class="jumbotron">
    <div class="container">
      <h2>Evènements à venir</h2>
    </div>
  </div>


  <table class="table table-hover">
    <thead>
      <th>Description</th>
      <th>Date d'occurence</th>
      <th>Ajouté le</th>
      <th>Supprimer</th>
    </thead>

    <tbody>
      <tr ng-repeat="item in ctrl.all"  >
	<td ng-click="ctrl.show(item._id)">{{item.description}}</td>
	<td ng-click="ctrl.show(item._id)">{{item.event_date_occur | date: 'yyyy-MM-dd'}}</td>
	<td ng-click="ctrl.show(item._id)">{{item.event_date_added | date: 'yyyy-MM-dd'}}</td>
	<td>
	  <a type="checkbox" class="btn glyphicon glyphicon-remove"
	     ng-click="ctrl.removeEvent(item._id)">
	  </a>
	</td>
      </tr>
    </tbody>
  </table>

</div>
